In [1]:
import yfinance as yf
import pandas as pd

In [2]:
df = yf.download('SPY')

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

In [4]:
def rsi(df, window):
    
    delta = df['Close'].diff()

    gain = delta.where(delta > 0, 0).rolling(window=window).mean()
    loss = delta.where(delta < 0, 0).rolling(window=window).mean()

    rs = gain / loss
    df['RSI'] = 100 - (100 / (1 +rs))

    return df

In [5]:
def strategy(df, overbought, oversold):

    df['Strategy'] = 0
    df.loc[df['RSI'] > overbought, 'Strategy'] = 1
    df.loc[df['RSI'] < oversold, 'Strategy'] = -1

    return df

In [8]:
def test(df):
    df['Delta'] = df['Close'].pct_change()
    df['Returns'] = df['Delta'] * df['Strategy'].shift(1)

    df['Strat Cumulative Returns'] = ((1 + df['Returns']).cumprod() - 1) * 100
    df['SPY Cumulative Returns'] = ((1 + df['Delta']).cumprod() - 1) * 100

    return df

In [9]:
def main():
    rsi(df, 14)
    strategy(df, 80, 20)
    test(df)

    return df

main()

Price,Close,High,Low,Open,Volume,RSI,Strategy,Delta,Returns,Strat Cumulative Returns,SPY Cumulative Returns
Ticker,SPY,SPY,SPY,SPY,SPY,,,,,,
Date,,,,,,,,,,,
1993-01-29,24.452515,24.469906,24.348165,24.469906,1003200,NaN,0,NaN,NaN,NaN,NaN
1993-02-01,24.626432,24.626432,24.469908,24.469908,480500,NaN,0,0.007112,0.000000,0.000000,0.711247
1993-02-02,24.678610,24.696001,24.556869,24.609044,201300,NaN,0,0.002119,0.000000,0.000000,0.924630
1993-02-03,24.939478,24.956869,24.695996,24.713388,529400,NaN,0,0.010571,0.000000,0.000000,1.991465
1993-02-04,25.043839,25.096013,24.748182,25.026447,531500,NaN,0,0.004185,0.000000,0.000000,2.418254
...,...,...,...,...,...,...,...,...,...,...,...
2025-04-07,504.380005,523.169983,481.799988,489.190002,256611400,-48.433401,-1,-0.001781,0.001781,-10.870059,1962.691760
2025-04-08,496.480011,524.979980,489.160004,521.859985,165816600,-29.769891,-1,-0.015663,0.015663,-9.474036,1930.384270
2025-04-09,548.619995,548.619995,493.049988,493.440002,241867300,-478.884884,-1,0.105019,-0.105019,-18.981009,2143.613808
2025-04-10,524.580017,533.500000,509.320007,532.169983,162331200,-183.959745,-1,-0.043819,0.043819,-15.430838,2045.300901
2025-04-11,533.849976,536.429993,520.099976,523.010010,72259756,-178.100721,-1,0.017671,-0.017671,-16.925277,2083.210943